<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}" />
</head>
<body>
    
    <div class="signup-page">
        <div class="wrapper">
            <form th:action="@{/submitSignupForm}" th:object="${signupForm}" method="post">
                <h1>Sign Up</h1>

                <div class="input-box">
                    <input type="text" placeholder="First Name" th:field="*{firstName}" required /><br />
                </div>

                <div class="input-box">
                    <input type="text" placeholder="Last Name" th:field="*{lastName}" required /><br />
                </div>

                <div class="input-box">
                    <input type="text" placeholder="Username" th:field="*{username}" required /><br />
                </div>

                <div class="input-box">
                    <input type="email" placeholder="Email" th:field="*{email}" required /><br />
                </div>

                <div class="input-box">
                    <input type="password" placeholder="Password" th:field="*{password}" required /><br />
                </div>

                <div class="input-box">
                    <input type="password" placeholder="Re-enter Password" th:field="*{confirmPassword}" required /><br />
                </div>

                <button type="submit" class="btn">Sign Up</button>
                <a th:href="@{/}" class="btn-cancel">Cancel</a>
                

            </form>

            <div th:if="${usernameExists}" th:inline="javascript">
                <script>
                    alert([[${popUpUsername}]]);
                </script>
            </div>

            <div th:if="${emailExists}" th:inline="javascript">
                <script>
                    alert([[${popUpEmail}]]);
                </script>
            </div>            


        </div>
    </div>

                    


</body>
</html>
