/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Header Styling */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

/* Logo */
.logo {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

/* Button Container */
.button-container {
    display: flex;
    gap: 10px; 
}


button {
    font-weight: bold;
    border: none;
    padding: 8px 18px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s;
}

/* Login Button */
.login-btn {
    background: #686464;
    color: white;
    border: 2px ;
}

/* Signup Button */
.signup-btn {
    color: white;
    background: transparent;
    border: 2px solid white;
}

/* Hover Effects */
.login-btn:hover,
.signup-btn:hover {
    opacity: 0.8;
}

/* Hero Section */
.hero {
    background-image: url("http://127.0.0.1:5500/images/headerbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    align-items: center;
    padding-left: 40px;
}

/* Hero Text */
.hero h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-shadow: 
        3px 3px 5px rgba(0, 0, 0, 0.7),
        -2px -2px 5px rgba(255, 255, 255, 0.3);
}
